.section11{
    display: flex;
    flex-direction: column;
    height:700px;
    background: rgba(40, 40, 40, 1);
}
.section11-content-top{
    display: flex;
    align-items: center;
    justify-content: center;
    height:90%;
    width:80%;
    text-align: left;

 }
 .section11-content-top-text{
     color:rgba(249, 249, 249, 1);
     font-size: 35px;
     width:60%;
     padding-right:80px;
     margin-top:-400px;
 }
 .section11 hr{
     width:15%;
     border:1.5px solid white;
     margin-top:-400px;
 }
 .section11-content-bottom{
    gap:20px;
    margin-top:-350px;
    margin-left:400px;
 }
 .section11-content-bottom img{
    height:320px;
    width:340px;
 }
 .section11-content-bottom{
    display:flex;
 }